@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  width: 100%;
}

header {
  height: 35vh;
  width: 100%;
  background-image: url(./images/bg-main-mobile.png);
  background-size: 100%;
  display: flex;
  position: relative;
}

body {
  font-size: 18px;
  background-color: hsl(0, 0%, 100%);
}

.back_card {
  height: 160px;
  width: 280px;
  background-image: url(./images/bg-card-back.png);
  background-size: 300px;
  border-radius: 5px;
  margin-left: 90px;
  margin-top: 30px;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.back_card_cvc {
  margin-left: 210px;
  margin-top: 68px;
  color: #fff;
}

.front_card {
  height: 160px;
  width: 280px;
  background-image: url(./images/bg-card-front.png);
  background-size: 300px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 140px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.front_card .front_card_number {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  margin-top: 80px;
  margin-left: 30px;
}

.front_card .front_card_name {
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
  margin-left: 30px;
}

.front_card .front_card_date {
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
  margin-left: 65px;
}

.base_card {
  margin-top: 90px;
  margin-left: 30px;
  list-style: none;
}

.base_card input {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  width: 93%;
  border: 1px solid black/*#EAECEE;*/
}

.card_date {
  display: flex;
  gap: 10px;
}

.card_date input {
  width: 29%;
}

.cvc_card {
  margin-left: 63px;
}

.button_confirm {
  width: 85%;
  height: 50px;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  align-items: center;
  margin-left: 30px;
  font-size: 16px;
  color: #fff;
}

.button_confirm:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_confirm:active {
  background-color: hsl(278, 68%, 11%);
  transform: translateY(1px);
}

@media only screen and (min-width: 1100px) {
  body {
    display: flex;
  }

  header {
    background-image: url(./images/bg-main-desktop.png);
    width: 30%;
    height: 100vh;
  }

  .front_card {
    margin-top: 80px;
    margin-left: 180px;
  }

  .back_card {
    margin-top: 250px;
    margin-left: 240px;
  }

  main {
    margin-left: 10%;
  }

  .card_name{
    width: 10px;
  }

  .card_date .date {
    width: 100px;
  }

  .cvc_card {
    margin-left: 187px;

  }

  .cvc_number {
    margin-left: 125px;
  }

  .button_confirm {
    width: 60%;
    height: 50px;
    margin-left: 20%;
    margin-top: 20px;
  }

}