@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  height: 35vh;
  width:  100%;
  background-color: hsl(278, 68%, 11%);
  display: flex;
  position: relative;
}

body {
  font-size: 18px;
}

.back_card {
  height: 160px;
  width: 250px;
  background-color: hsl(270, 3%, 87%);
  border-radius: 5px;
  margin-left: 110px;
  margin-top: 30px;
  position: absolute;
}

.front_card {
  height: 160px;
  width: 250px;
  background-image: linear-gradient(180deg, red, yellow);
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 140px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.front_card .front_card_number {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  margin-top: 80px;
  margin-left: 20px;
}

.front_card .front_card_name {
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
  margin-left: 20px;
}

.front_card .front_card_date {
  color: #fff;
  font-size: 14px;
  margin-top: 120px;
  margin-left: 80px;
}

.base_card {
  margin-top: 90px;
  margin-left: 30px;
  list-style: none;
}

.base_card input {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  width: 90%;
}

.card_date {
  display: flex;
}

.card_date input {
  width: 29%;
  margin-right: 10px;
}

.cvc_card {
  margin-left: 63px;
}

.button_confirm {
  width: 85%;
  height: 50px;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  align-items: center;
  margin-left: 30px;
  font-size: 16px;
  color: #fff;
}